<configuration>
  <appender name="TCP_JSON" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
    <destination>logstash:7778</destination>
    <reconnectionDelay>5 second</reconnectionDelay>
  
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <enableContextMap>true</enableContextMap>
      <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
        <maxDepthPerThrowable>30</maxDepthPerThrowable>
        <maxLength>2048</maxLength>
        <shortenedClassNameLength>20</shortenedClassNameLength>
        <exclude>sun\.reflect\..*\.invoke.*</exclude>
        <exclude>net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>
        <rootCauseFirst>true</rootCauseFirst>
      </throwableConverter>
    </encoder>
  </appender>
  
  <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <enableContextMap>true</enableContextMap>
      <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
        <maxDepthPerThrowable>30</maxDepthPerThrowable>
        <maxLength>2048</maxLength>
        <shortenedClassNameLength>20</shortenedClassNameLength>
        <exclude>sun\.reflect\..*\.invoke.*</exclude>
        <exclude>net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>
        <rootCauseFirst>true</rootCauseFirst>
      </throwableConverter>
    </encoder>
  </appender>
  
  <appender name="TCP_STRING" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
    <destination>logstash:7778</destination>
    <reconnectionDelay>5 second</reconnectionDelay>
    
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="STDOUT_STRING" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>
  
  <logger name="simpleLogger" level="info" additivity="false">
    <appender-ref ref="TCP_STRING" />
    <appender-ref ref="STDOUT_STRING" />
  </logger>
  
  <root level="info">
    <appender-ref ref="TCP_JSON" />
    <appender-ref ref="STDOUT_JSON" />
  </root>
</configuration>